<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>

<meta charset="utf-8">

<title>{{ title }}</title>

<link rel="stylesheet" type="text/css" href="style.css" />
<link rel="icon" href="favicon.ico">

</head>

<body>

<div class="head">
    <div class="title">{{ title }}</div>
    <div class="list">
    Subscriptions: {% for s in subscriptions %} &lt;<a id="ss" href="{{ s.site }}" target="_blank">{{ s.title }}</a>&gt; {% endfor %}
    </div>
</div>

{% for e in entries %}
<div class="main">
    <h1><a href="{{ e['link'] }}" target="_blank">{{ e["title"] }}</a></h1>
    <div class="time">{{ e["date"] }} @ <a style="text-decoration: underline;" href="{{ e["subscription"]["site"] }}" target="_blank">{{ e["subscription"]["title"] }}</a></div>
    {{ e["content"] | safe }}
</div>
{% endfor %}

<div class="foot">
Built by <a href="https://www.roychan.org/">Roy Chan</a> using Jinja2, py-feedparser, beautifulsoup, pyyaml and py-schedule.
<div class="status">
Sync on {{ update_time }} with <a title="{% if victims %}Failure list:{% for s in victims %}&#013;{{ s['title'] }}{% endfor %}{% endif %}">{{ victims | length }}</a> failure(s)
</div>
</div>

</body>


</html>